name: Detect Secrets
on: [pull_request, push]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Detect-Secrets
        uses: secret-scanner/action@v0.0.2
        with:
          baseline_file: .secrets.baseline

