name: Detect Secrets
on:
  push:
  pull_request:

jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install detect-secrets and jq
        run: |
          pip install detect-secrets
          sudo apt-get install -y jq

      - name: Generate new baseline
        run: detect-secrets scan > .new.baseline

      - name: Check if new secrets were added
        run: |
          old_count=$(jq '.results | length' .secrets.baseline)
          new_count=$(jq '.results | length' .new.baseline)

          echo "Old count: $old_count"
          echo "New count: $new_count"

          if [ "$new_count" -gt "$old_count" ]; then
            echo "❌ Phát hiện secrets mới trong commit!"
            exit 1
          else
            echo "✅ Không có secrets mới."
          fi
